<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">
            <h1>Recipe</h1>

            <div id="recipes">
                <div class="filter hidden">
                    <p></p>
                    <a href="/all" class="clear-filter" data-id="all">See all</a>
                </div>

            </div>
            
        </div>

        <script id="recipeTemplate" type="text/template">
            <h1><a href="/recipe/<%= id %>" data-id="<%= id %>" class="recipe"><%= title %></a></h1>
            <p><a href="/recipe/<%= id %>/edit" data-id="<%= id %>" class="edit">Edit</a></p>
            <img src="<%= img %>" alt="<%= title %>" />
            <p class="description"><%= description %></p>
            <span class="servings">Serves: <%= serves %></span>
            <span class="cooking-time">Cooking time: <%= time %></span>
            <ul class="ingredients"></ul>
            <p class="method"><%= method %></p>
        </script>
        <script id="editRecipeTemplate" type="text/template">
            <form action="#" method="post">
                <img src="<%= img %>" />
                <input type="file" name="img" value="<%= img %>" />
                <input type="text" name="title" value="<%= title %>" />
                <textarea name="description"><%= description %></textarea>
                <input type="text" name="servings" value="<%= serves %>" />
                <input type="text" name="cooking-time" value="<%= time %>" />

                <div class="edit-ingredient"></div>


                <textarea name="method"><%= method %></textarea>

                <button class="save">Save</button>
                <button class="cancel">Cancel</button>
            </form>
        </script>

        <script type="text/template" id="ingredientTemplate">
            <li class="ingredient"><%= quantity %><%= unit %> <%= name %></li>
        </script>

        <script type="text/template" id="editIngredientTemplate">
            <div class="ingredient-info">
                <input type="text" value="<%= quantity %>" name="quantity-<%= name %>" class="quantity" />
                <input type="text" value="<%= name %>" name="<%= name %>" class="ingredient" />
            </div>
        </script>

        <script type="text/template" id="userTemplate">
            <span class="user">
                Created by <a href="/user/<%= id %>" data-id="<%= id %>"><%= name %></a>
            </span>
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/vendor/underscore-min.js"></script>
        <script src="js/vendor/backbone-min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
