html {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 62.5%;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1.6rem;
}

.container {
    margin: auto;
    max-width: 1200px;
}

article {
    width: 500px;
}